extends ../layout

block content
    h1.
        Post ID #{post._id}
    form(action='/posts/#{post._id}/edit',method='post',name='updatepost',enctype='application/x-www-form-urlencoded')
        p Title:
            input#inputTitle(type='text', value='#{post.title}', name='title')
        p Body:
            input#inputBody(type='text', value='#{post.body}', name='body')
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type='submit').
                Update
